.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 40px auto;
  overflow-x: auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.table {
  width: max-content;
  min-width: 100%;
  border-collapse: collapse;
}

.table th {
  background: #2563eb;
  color: white;
  padding: 16px;
  text-align: left;
}

.table td {
  padding: 14px 16px;
  border-bottom: 1px solid #ececec;
}

.table tbody tr:hover {
  background: #f7f9fc;
  cursor: pointer;
}
.table th {
  user-select: none;
}

.table th:not(:nth-child(n + 5)) {
  cursor: pointer;
}

.table th:not(:nth-child(n + 5)):hover {
  background: #1d4ed8;
}

.table th,
.table td {
  white-space: nowrap;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.resizeHandle {
  width: 8px;
  min-width: 8px;
  height: 24px;
  cursor: col-resize;
  margin-left: 8px;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.resizeHandle:hover {
  border-right-color: white;
}