.filters {
  max-width: 1400px;
  margin: 0 auto 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  align-items: center;
  background: #ffffff;
  padding: 16px 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(214, 51, 132, 0.06);
}

.filters input,
.filters select {
  padding: 10px 16px;
  border: 1px solid #fbcfe8;
  border-radius: 30px; /* округлые поля */
  font-size: 15px;
  background: #fff;
  transition: 0.25s;
  outline: none;
  color: #333;
}
.filters input:focus,
.filters select:focus {
  border-color: #ec4899;
  box-shadow: 0 0 0 3px rgba(236, 72, 153, 0.15);
}
.filters select:hover {
  border-color: #ec4899;
}